:root {
  
  --primary-color: hsl(210, 100%, 36%);
  --secondary-color: hsl(177, 94%, 35%);
  --other-color: hsl(0, 0%, 100%);
  --winmessage-color: rgba(0, 0, 0, 0.8);



}
.dark-mode:root {
  --primary-color: hsl(0, 3%, 6%);
  --secondary-color: hsl(342, 25%, 21%);
  --other-color: hsl(	340.4, 85.8%, 50.4%);
  --winmessage-color: rgba(94, 63, 85, 0.8);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
  90deg,
  var(--primary-color) 0%,
  var(--secondary-color) 100%
  );
  

} /*button troca*/
/*
.position{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.label {

background-color: rgb(241, 241, 241);
border-radius: 50px;
cursor: pointer;

display: flex;
align-items: center;
justify-content: space-between;

padding: 5px;
position: relative;
height: 26px;
width: 50px;
}
.checkbox {
opacity: 1;
position: absolute;
background-color: yellow;
}
.label .ball {
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  
  height: 22px;
  width: 22px;

  transform: translateX(0px);
  transition: transform 0.2 linear;
}

.checkbox:checked + .label .ball{
  transform: translateX(24px);
}
*/



.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before
{
  background: rgba(255,255,255, .3) !important;
}

.board {
display: grid;
width: 100%;
height: 100%;
display: grid;
justify-content: center;
align-items: center;
align-content: center;
grid-template-columns: repeat(3, auto);
}
/* cell */
.cell {
  width: 100px;
  height: 100px;
  border:2px solid var(--other-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  }

  .cell.x, .cell.circle{
    cursor: not-allowed;
  }

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
  border-bottom: none;
}

.cell:nth-child(6),
.cell:nth-child(9),
.cell:nth-child(3){
  border-right: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
  border-left: none;
}
/*X*/
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before{
  content: " ";
  height: calc(100px * 0.15);
  width: calc(100px * 0.9);
  background: var(--other-color);
  position: absolute;   
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before
{
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
  transform: rotate(-45deg);
}

/* mensagem de vitoria*/
.winning-message{
  display:none
}

/*circle*/
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before
{
  content: " ";
  height: calc(100px * 0.9);
  width: calc(100px * 0.9);
  background: var(--other-color);
  position: absolute;  
  border-radius: 50%;
}
.cell.circle::before
{
  transform: rotate(45deg);
}
.cell.circle::after{
  transform: rotate(-45deg);
}
/* mensagem de vitoria*/
.winning-message{
  display:none;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--winmessage-color);
  flex-direction: column;
}

.winning-message-button {
font-size: 2.5rem;
background-color: var(--primary-color);
padding: 10px 15px;
cursor: pointer;
border-radius: 5px;
border: none;
margin-top: 16px;
color: var(--other-color);
}

.winning-message-button:hover{
  background: var(--other-color);
  color: var(--primary-color);
}

.winning-message-text{
  color: var(--other-color);
  font-size: 5rem;
}

.show-winning-message {
  display: flex; 
}